
.icon-check:before { content: '\e800'; } /* '' */
.icon-trash-empty:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-emo-thumbsup:before { content: '\e804'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */